.form__cart {
  margin: 50px;
}

.cart__details {
  background-color: #fff;
  box-shadow: 5px 5px 5px 5px rgba(6, 6, 6, 0.5);
  margin: 10px;
}
.cart__details .cart__details--img img {
  width: 100px;
  height: 100px;
}
.cart__details .cart__details--name p {
  padding-top: 5px;
  font-weight: bold;
  font-size: 20px;
  text-decoration: underline;
}
.cart__details .cart__details--btn-delete {
  transition: all 0.3s ease;
}
.cart__details .cart__details--btn-delete button {
  border: none;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cart__details .cart__details--btn-delete button i {
  color: red;
  font-size: 25px;
}
.cart__details .cart__details--btn-delete button:hover {
  background-color: red;
  border-radius: 50%;
  height: 40px;
  width: 40px;
}
.cart__details .cart__details--btn-delete button:hover i {
  color: #fff;
}
.cart__details .cart__details--quantity {
  display: flex;
  justify-content: center;
  align-items: center;
}
.cart__details .cart__details--quantity input {
  width: 40%;
  margin: 10px;
}
.cart__details .cart__details--quantity button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  font-size: 20px;
  font-weight: bold;
}
.cart__details .cart__details--total {
  margin-top: 50%;
}
.cart__details .cart__details--total h4 {
  font-weight: bold;
  font-size: 20px;
}
.cart__details .cart__details--total p {
  font-size: 20px;
}

.form__payment {
  background-color: #fff;
  margin: 10px 0 10px 20px;
  box-shadow: 5px 5px 5px 5px rgba(6, 6, 6, 0.5);
  height: auto;
  padding: 10px;
}
.form__payment p {
  padding-top: 5px;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
}

.form__voucher {
  background-color: #fff;
  margin: 10px 0 10px 20px;
  box-shadow: 5px 5px 5px 5px rgba(6, 6, 6, 0.5);
  height: auto;
  padding: 10px;
}
.form__voucher p {
  padding-top: 5px;
}
.form__voucher input {
  width: 100%;
}
.form__voucher button {
  font-size: 13px;
  font-weight: bold;
  border: none;
  background-color: #ff9050;
  color: #fff;
  transition: all 0.3s ease;
}
.form__voucher button:hover {
  transform: scale(1.1);
  box-shadow: 3px 3px 3px 3px rgba(6, 6, 6, 0.5);
}

.form__confirm {
  background-color: #fff;
  margin: 10px 0 10px 20px;
  box-shadow: 5px 5px 5px 5px rgba(6, 6, 6, 0.5);
  height: auto;
  padding: 10px;
  justify-content: center;
  align-items: center;
}
.form__confirm p {
  font-size: 13px;
}
.form__confirm .total__pay p {
  color: red;
  font-weight: bold;
  font-size: 13px;
}
.form__confirm .pay__on {
  align-items: start;
}
.form__confirm .pay__off {
  align-items: end;
}
.form__confirm .pay__off input {
  margin-left: 10px;
}
.form__confirm button {
  font-size: 15px;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 10px;
  border: none;
  background-color: #ff9050;
  color: #fff;
  transition: all 0.3s ease;
}
.form__confirm button:hover {
  transform: scale(1.1);
  box-shadow: 3px 3px 3px 3px rgba(6, 6, 6, 0.5);
}

.form__deliver {
  background-color: #fff;
  margin: 10px 0 10px 20px;
  box-shadow: 5px 5px 5px 5px rgba(6, 6, 6, 0.5);
  height: auto;
  padding: 10px;
}
.form__deliver .form__deliver--title p {
  font-size: 13px;
  font-weight: bold;
}
.form__deliver .form__deliver--date p {
  font-size: 13px;
}

.form__location {
  background-color: #fff;
  margin: 10px 0 10px 20px;
  box-shadow: 5px 5px 5px 5px rgba(6, 6, 6, 0.5);
  height: auto;
  padding: 10px;
}
.form__location .form__location--title p {
  font-size: 13px;
  font-weight: bold;
}
.form__location .form__location--locate p {
  font-size: 13px;
}
.form__location .form__location--locate button {
  border: none;
  font-size: 13px;
  font-weight: bold;
}
.form__location .form__location--locate button i {
  font-size: 20px;
  color: red;
}/*# sourceMappingURL=style_cart.css.map */