.form__info--main {
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 30px;
    width: 100%;

    img {
        margin-top: 20px;
        width: 50px;
        border-radius: 50%;
        border: 1px solid black;
    }

    p {
        font-weight: bold;
        font-size: 15px;
        cursor: pointer;
    }

    nav {
        width: 100%;

        ul {
            li {
                list-style-type: none;
                display: flex;
                cursor: pointer;
                padding: 10px;

                a {
                    text-decoration: none;
                    color: black;
                    font-size: 15px;
                }

                i {
                    font-size: 20px;
                }
            }

            li:hover {
                background-color: rgb(182, 182, 182);
                border-radius: 10px 0 0 10px;
            }
        }
    }
}

.form__search--bill {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;

    input {
        width: 100%;
        padding: 5px;
        font-size: 15px;
        border-radius: 10px 0 0 10px;
    }

    button {
        padding: 5px;
        font-size: 15px;
        border-radius: 0px 10px 10px 0;
    }
}

.form__bill {
    margin: 10px;
    height: 500px;
    background-color: #fff;
    border-radius: 10px 10px 0 0;
    overflow: auto;
    position: relative;

    .form__bill--header {
        position: sticky;
        top: 0;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #E3AD20;
        border-radius: 10px 10px 0 0;
        padding: 0;
        z-index: 1000;

        a {
            text-decoration: none;
            margin: 0;
            text-align: center;
            font-weight: bold;
            color: #fff;
            flex: 1;
            font-size: 13px;
            padding: 3px;
        }

        a:first-child {
            border-radius: 10px 0 0 0;
        }

        a:last-child {
            border-radius: 0 10px 0 0;
        }

        a:hover {
            background-color: #906C10;
        }
    }

    .form__bill--content {

        margin-left: 1px;

        .form__bill--main {
            margin-top: 10px;
            border: 1px solid black;
            display: flex;
            align-items: center;
            box-shadow: 1px 1px 2px black;

            p {
                font-weight: bold;
                text-decoration: underline;
            }

            .bill__info--btn {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;

                .btn_seeDetail {
                    border: none;
                    padding: 5px;
                    font-weight: bold;
                    border-radius: 10px;
                    background-color: rgb(26, 204, 26);
                    width: 130px;
                    color: #fff;
                    margin-bottom: 5px;
                }

                .btn_seeDetail:hover {
                    background-color: rgb(63, 229, 63);

                }

                .btn_cancel {
                    border: none;
                    padding: 5px;
                    font-weight: bold;
                    border-radius: 10px;
                    background-color: rgb(254, 0, 0);
                    width: 130px;
                    color: #fff;
                    margin-bottom: 5px;
                }

                .btn_cancel:hover {
                    background-color: rgb(233, 71, 71);
                }

                .btn_location {
                    border: none;
                    padding: 5px;
                    font-weight: bold;
                    border-radius: 10px;
                    background-color: rgb(255, 200, 0);
                    width: 130px;
                    color: #fff;
                }

                .btn_location:hover {
                    background-color: #dfb751;

                }

                .btn_feedBack {
                    border: none;
                    padding: 5px;
                    font-weight: bold;
                    border-radius: 10px;
                    background-color: rgb(255, 200, 0);
                    width: 80%;
                    color: #fff;
                }

                .btn_feedBack:hover {
                    background-color: #dfb751;
                }


            }
        }

        .form__bill--detail {
            background-color: #fff;
            box-shadow: 1px 1px 1px 1px rgb(39, 38, 38, 0.6);

            margin: 10px 0 0 0;
            padding: 5px;

            .bill__img--product {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 100%;

                img {
                    width: 100%;
                }
            }

            .bill__infor--col2 {
                h4 {
                    text-decoration: underline;
                }
            }

            .bill__infor--col3 {
                h4 {
                    text-decoration: underline;
                }
            }

            .bill__info--btn {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                height: 100%;

                .btn_seeDetail {
                    border: none;
                    padding: 5px;
                    font-weight: bold;
                    border-radius: 10px;
                    background-color: rgb(26, 204, 26);
                    width: 80%;
                    color: #fff;
                }

                .btn_seeDetail:hover {
                    background-color: rgb(63, 229, 63);

                }

                .btn_cancel {
                    border: none;
                    padding: 5px;
                    font-weight: bold;
                    border-radius: 10px;
                    background-color: rgb(254, 0, 0);
                    width: 80%;
                    color: #fff;
                }

                .btn_cancel:hover {
                    background-color: rgb(233, 71, 71);
                }

                .btn_feedBack {
                    border: none;
                    padding: 5px;
                    font-weight: bold;
                    border-radius: 10px;
                    background-color: rgb(255, 200, 0);
                    width: 80%;
                    color: #fff;
                }

                .btn_feedBack:hover {
                    background-color: #dfb751;
                }


            }

            .state_delive {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                height: 100%;

                p {
                    font-weight: bold;
                }

                i {
                    font-size: 20px;
                    color: green;
                }


            }

            .location__phone {
                p {
                    i {
                        color: red;
                        font-size: 15px;
                    }
                }

                h6 {
                    i {
                        color: green;
                        font-size: 15px;
                    }
                }
            }
        }


    }
}

.form__checkOrder {
    background-color: #E3AD20;

    .title__checkOrder {
        text-align: center;
        font-weight: bold;
        margin-top: 20px;
        padding: 5px;
        color: #fff;
    }

    p {
        text-align: center;
        font-size: 15px;
        color: #fff;
        font-style: italic;
    }

    form {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;

        input {
            width: 50%;
            padding: 5px;
            font-size: 16px;
        }

        button {
            border: none;
            padding: 7px;
            border-radius: 0 10px 10px 0;

            i {
                font-size: 20px;
                font-weight: bold;
            }
        }
    }
}

.form__Order--content {
    background-color: #fff;
    padding: 10px;


    .list__ordercheck {
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid black;
        border-radius: 10px;
        margin-bottom: 10px;
        box-shadow: 1px 1px 1px black;

        .bx-package {
            font-size: 40px;
        }

        p {
            font-weight: bold;
            text-decoration: underline;
            font-size: 15px;
        }

        h6 {
            font-size: 14px;
        }

        .order__btn--seeDetails {
            button {
                border: none;
                background-color: rgb(38, 216, 38);
                font-weight: bold;
                color: #fff;
                padding: 8px;
                border-radius: 10px;
            }
        }
    }

    .form__details--click {
        border: 1px solid black;
        box-shadow: 1px 1px 1px black;

        p {
            font-size: 15px;
            font-weight: bold;
            text-decoration: underline;
        }

        h6 {
            font-size: 14px;
        }

    }
}

.btn__feedback-send{
    display: flex;
    justify-content: center;
    align-items: center;
    button{
        background-color: #edb11a;
        color: #fff;
        font-weight: bold;
        font-size: 14px;
        margin-top: 20px;
    }
    button:hover{
        border: 1px solid black     ;
    }
}

.form__feedback--send{
    input{
        width: 100%;
        padding: 10px;
        font-size: 13px;
    }
}
