.btn__clearAll--cart {
    display: flex;
    align-items: center;

    form {
        button {
            margin: 10px 0 0 30px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 14px;

            i {
                font-size: 20px;
                color: #fff;
            }
        }
    }
}

.form__cart {
    // margin: 30px 100px 30px 100px;
    margin: 10px 50px 50px 50px;

    // background-color: #fff;
    .bg__emptyCart {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        img {
            width: 300px;
            height: 300px;
        }

        button {
            border: none;
            // background-color: rgb(246, 96, 15);
            border-radius: 10px;

            background: linear-gradient(45deg, rgb(231, 39, 39), rgb(232, 52, 52), rgb(222, 141, 90), rgba(247, 111, 0, 0.879), red);
            // background-clip: text;
            display: inline;
            // color: transparent;
            animation: linearAnimated 2s linear infinite;

            a {
                text-decoration: none;
                padding: 8px;
                color: #fff;
                font-size: 20px;
                font-weight: bold;



            }
        }

        button:hover {
            box-shadow: 2px 2px 2px rgb(61, 61, 61);
        }
    }
}

//style shopping cart
.cart__details {
    background-color: #fff;
    box-shadow: 5px 5px 5px 5px rgb(6, 6, 6, 0.5);
    // border: 1px solid black;
    margin: 10px;

    .cart__details--checkbox {}

    .cart__details--img {
        img {
            width: 100px;
            height: 100px;
        }
    }

    .cart__details--name {
        p {
            padding-top: 5px;
            font-weight: bold;
            font-size: 20px;
            text-decoration: underline;
        }
    }

    .cart__details--size {
        p {
            font-weight: bold;
        }
    }

    .cart__details--price {
        p {
            font-weight: bold;

            span {
                font-size: 13px;
            }
        }
    }

    .cart__details--color {
        p {
            font-weight: bold;
        }
    }

    .cart__details--btn-delete {
        transition: all 0.3s ease;

        button {
            border: none;
            background-color: transparent;
            display: flex;
            justify-content: center;
            align-items: center;

            i {
                color: red;
                font-size: 25px;
            }
        }

        button:hover {
            background-color: red;
            border-radius: 50%;
            height: 40px;
            width: 40px;

            i {
                color: #fff;
            }
        }
    }

    .cart__details--quantity {
        display: flex;
        justify-content: center;
        align-items: center;


        input {
            width: 40%;
            margin: 10px;
            text-align: center;
        }

        button {
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            height: 30px;
            width: 30px;
            font-size: 20px;
            font-weight: bold;
        }
    }

    .cart__details--total {
        margin-top: 50%;

        h4 {
            font-weight: bold;
            font-size: 20px;
        }

        p {
            font-size: 15px;
            font-weight: bold;
            color: red;
        }
    }
}


//phần thanh toán
.form__payment {
    background-color: #fff;
    margin: 10px 0 10px 20px;
    box-shadow: 5px 5px 5px 5px rgb(6, 6, 6, 0.5);
    height: auto;
    padding: 10px;

    p {
        padding-top: 5px;
        text-align: center;
        font-weight: bold;
        font-size: 20px;
    }
}

.form__voucher {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #fff;
    border: 1px solid black;
    height: auto;
    padding: 10px;

    p {
        padding-top: 5px;
    }

    input {
        width: 100%;
    }

    button {
        font-size: 13px;
        font-weight: bold;
        border: none;
        background-color: #ff9050;
        color: #fff;
        transition: all 0.3s ease;
    }

    button:hover {
        transform: scale(1.1);
        box-shadow: 3px 3px 3px 3px rgb(6, 6, 6, 0.5);
    }

    .form__voucher--info {
        border: 1px solid black;
        margin: 10px;
        width: 80%;
        box-shadow: 2px 2px 2px rgb(84, 84, 84);

        ul {
            list-style: none;

            li {}
        }
    }

    .btn__delete--voucher {
        display: flex;
        justify-content: center;
        align-items: center;

        button {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: red;
            border-radius: 10px;
            padding: 5px;

            i {
                color: #fff;
                font-size: 15px;
            }
        }
    }
}

// form xác nhận đặt
.form__confirm {
    background-color: #fff;
    border: 1px solid black;
    height: auto;
    padding: 10px;
    justify-content: center;
    align-items: center;

    .total__bill--choose {
        p {
            font-weight: bold;
        }
    }

    p {
        font-size: 13px;
    }

    .total__pay {
        p {
            color: red;
            font-weight: bold;
            font-size: 13px;
        }
    }

    .pay__on {
        align-items: start;
    }

    .pay__off {
        align-items: end;

        input {
            margin-left: 10px;
        }
    }

    button {
        padding: 8px;
        border-radius: 10px;
        font-size: 12px;
        font-weight: bold;
        margin-top: 20px;
        margin-bottom: 10px;
        border: none;
        background-color: #ff9050;
        color: #fff;
        transition: all 0.3s ease;
    }

    button:hover {
        transform: scale(1.1);
        box-shadow: 3px 3px 3px 3px rgb(6, 6, 6, 0.5);
    }
}


//thông tin ngày đặt ngày giao hàng dự kiến
.form__deliver {
    background-color: #fff;
    border: 1px solid black;
    height: auto;
    padding: 10px;

    .form__deliver--title {
        p {
            font-size: 13px;
            font-weight: bold;
        }
    }

    .form__deliver--date {
        p {
            font-size: 13px;
        }
    }

}

//thông tin địa chỉ nhận hàng
.form__location {
    background-color: #fff;
    border: 1px solid black;
    height: auto;
    padding: 10px;

    .form__location--title {
        p {
            font-size: 13px;
            font-weight: bold;
        }
    }



}

.form__location--locate {
    input {
        width: 100%;
        margin-top: 10px;
        padding: 5px;
        font-size: 13px;
    }
}

.btn__update--info {
    margin: 10px 0 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;

    a {
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        padding: 5px;
        color: #fff;
        font-weight: bold;
        border-radius: 10px;
        background-color: rgb(0, 60, 255);
        font-size: 15px;

        i {
            color: #fff;
            font-size: 20px;
        }
    }
}


.btn_changeInfo {

    a {
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        border: none;
        font-size: 15px;
        padding: 5px;
        font-weight: bold;
        background-color: rgb(0, 60, 255);
        color: #fff;
        border-radius: 10px;
    }
}

@keyframes linearAnimated {
    to {
        background-position-x: 161px;
    }
}
