.btn__clearAll--cart {
  display: flex;
  align-items: center;
}
.btn__clearAll--cart form button {
  margin: 10px 0 0 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
}
.btn__clearAll--cart form button i {
  font-size: 20px;
  color: #fff;
}

.form__cart {
  margin: 10px 50px 50px 50px;
}
.form__cart .bg__emptyCart {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.form__cart .bg__emptyCart img {
  width: 300px;
  height: 300px;
}
.form__cart .bg__emptyCart button {
  border: none;
  border-radius: 10px;
  background: linear-gradient(45deg, rgb(231, 39, 39), rgb(232, 52, 52), rgb(222, 141, 90), rgba(247, 111, 0, 0.879), red);
  display: inline;
  animation: linearAnimated 2s linear infinite;
}
.form__cart .bg__emptyCart button a {
  text-decoration: none;
  padding: 8px;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
}
.form__cart .bg__emptyCart button:hover {
  box-shadow: 2px 2px 2px rgb(61, 61, 61);
}

.cart__details {
  background-color: #fff;
  box-shadow: 5px 5px 5px 5px rgba(6, 6, 6, 0.5);
  margin: 10px;
}
.cart__details .cart__details--img img {
  width: 100px;
  height: 100px;
}
.cart__details .cart__details--name p {
  padding-top: 5px;
  font-weight: bold;
  font-size: 20px;
  text-decoration: underline;
}
.cart__details .cart__details--size p {
  font-weight: bold;
}
.cart__details .cart__details--price p {
  font-weight: bold;
}
.cart__details .cart__details--price p span {
  font-size: 13px;
}
.cart__details .cart__details--color p {
  font-weight: bold;
}
.cart__details .cart__details--btn-delete {
  transition: all 0.3s ease;
}
.cart__details .cart__details--btn-delete button {
  border: none;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cart__details .cart__details--btn-delete button i {
  color: red;
  font-size: 25px;
}
.cart__details .cart__details--btn-delete button:hover {
  background-color: red;
  border-radius: 50%;
  height: 40px;
  width: 40px;
}
.cart__details .cart__details--btn-delete button:hover i {
  color: #fff;
}
.cart__details .cart__details--quantity {
  display: flex;
  justify-content: center;
  align-items: center;
}
.cart__details .cart__details--quantity input {
  width: 40%;
  margin: 10px;
  text-align: center;
}
.cart__details .cart__details--quantity button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  font-size: 20px;
  font-weight: bold;
}
.cart__details .cart__details--total {
  margin-top: 50%;
}
.cart__details .cart__details--total h4 {
  font-weight: bold;
  font-size: 20px;
}
.cart__details .cart__details--total p {
  font-size: 15px;
  font-weight: bold;
  color: red;
}

.form__payment {
  background-color: #fff;
  margin: 10px 0 10px 20px;
  box-shadow: 5px 5px 5px 5px rgba(6, 6, 6, 0.5);
  height: auto;
  padding: 10px;
}
.form__payment p {
  padding-top: 5px;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
}

.form__voucher {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #fff;
  border: 1px solid black;
  height: auto;
  padding: 10px;
}
.form__voucher p {
  padding-top: 5px;
}
.form__voucher input {
  width: 100%;
}
.form__voucher button {
  font-size: 13px;
  font-weight: bold;
  border: none;
  background-color: #ff9050;
  color: #fff;
  transition: all 0.3s ease;
}
.form__voucher button:hover {
  transform: scale(1.1);
  box-shadow: 3px 3px 3px 3px rgba(6, 6, 6, 0.5);
}
.form__voucher .form__voucher--info {
  border: 1px solid black;
  margin: 10px;
  width: 80%;
  box-shadow: 2px 2px 2px rgb(84, 84, 84);
}
.form__voucher .form__voucher--info ul {
  list-style: none;
}
.form__voucher .btn__delete--voucher {
  display: flex;
  justify-content: center;
  align-items: center;
}
.form__voucher .btn__delete--voucher button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: red;
  border-radius: 10px;
  padding: 5px;
}
.form__voucher .btn__delete--voucher button i {
  color: #fff;
  font-size: 15px;
}

.form__confirm {
  background-color: #fff;
  border: 1px solid black;
  height: auto;
  padding: 10px;
  justify-content: center;
  align-items: center;
}
.form__confirm .total__bill--choose p {
  font-weight: bold;
}
.form__confirm p {
  font-size: 13px;
}
.form__confirm .total__pay p {
  color: red;
  font-weight: bold;
  font-size: 13px;
}
.form__confirm .pay__on {
  align-items: start;
}
.form__confirm .pay__off {
  align-items: end;
}
.form__confirm .pay__off input {
  margin-left: 10px;
}
.form__confirm button {
  padding: 8px;
  border-radius: 10px;
  font-size: 12px;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 10px;
  border: none;
  background-color: #ff9050;
  color: #fff;
  transition: all 0.3s ease;
}
.form__confirm button:hover {
  transform: scale(1.1);
  box-shadow: 3px 3px 3px 3px rgba(6, 6, 6, 0.5);
}

.form__deliver {
  background-color: #fff;
  border: 1px solid black;
  height: auto;
  padding: 10px;
}
.form__deliver .form__deliver--title p {
  font-size: 13px;
  font-weight: bold;
}
.form__deliver .form__deliver--date p {
  font-size: 13px;
}

.form__location {
  background-color: #fff;
  border: 1px solid black;
  height: auto;
  padding: 10px;
}
.form__location .form__location--title p {
  font-size: 13px;
  font-weight: bold;
}

.form__location--locate input {
  width: 100%;
  margin-top: 10px;
  padding: 5px;
  font-size: 13px;
}

.btn__update--info {
  margin: 10px 0 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn__update--info a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  padding: 5px;
  color: #fff;
  font-weight: bold;
  border-radius: 10px;
  background-color: rgb(0, 60, 255);
  font-size: 15px;
}
.btn__update--info a i {
  color: #fff;
  font-size: 20px;
}

.btn_changeInfo a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  border: none;
  font-size: 15px;
  padding: 5px;
  font-weight: bold;
  background-color: rgb(0, 60, 255);
  color: #fff;
  border-radius: 10px;
}

@keyframes linearAnimated {
  to {
    background-position-x: 161px;
  }
}/*# sourceMappingURL=style_cart.css.map */